@import "tailwindcss";

:root {
   --background: #000000;
   --tema: #41f557;
}

@theme inline {
   --color-background: var(--background);
   --color-tema: var(--tema);
   --font-sans: var(--font-geist-sans);
}

body {
   background: var(--background);
}

/* Custom */
.sombraBtn {
   box-shadow: 1 1 75px #4fbd17;
}

@media screen and (max-width: 1000px) {
   .sombraBtn {
      box-shadow: 1 1 35px #4fbd17;
   }
}
