@import "tailwindcss";

:root {
   --background: #000000;
   --tema: #ff7722;
}

@theme inline {
   --color-background: var(--background);
   --color-tema: var(--tema);
   --font-sans: var(--font-geist-sans);
   --font-inter: var(--font-inter-sans);
}

body {
   background: var(--background);
}

/* Custom */
.sombraBtn {
   box-shadow: 1 1 75px #df5c0a;
   flex: ;
}
