@import "tailwindcss";

:root {
   --background: #000000;
   --tema: #ff7722;
}

@theme inline {
   --color-background: var(--background);
   --color-tema: var(--tema);
   --font-sans: var(--font-geist-sans);
}

body {
   background: var(--background);
   font-family: Arial, Helvetica, sans-serif;
}

/* Custom */
.sombraBtn {
   box-shadow: 1 1 75px #df5c0a;
}

/* Embla Carousel */
.embla {
   overflow: hidden;
}
.embla__container {
   display: flex;
   gap: 20px;
}
.embla__slide {
   flex: 0 0 fit-content;
   min-width: 0;
}
